.login-short-title {
  max-width: 70% !important;
  text-align: center;
  font-size: 24px !important;
  line-height: 41px !important;
  font-weight: 500 !important;
  margin-bottom: 24px !important;
}
