$normal: 300;
$semibold: 400;
$semiplusbold: 500;
$bold: 600;
$real-bold: 700;
$extra-bold: 900;
$font: Montserrat, sans-serif;

$base-light-black: rgba(0, 0, 0, 0.4);
$diluted-gray: rgba(0, 0, 0, 0.15);
$base-black: #000000;
$base-white: #ffffff;
$max-width: 1440px;
$mid-gray: #828282;
$dark-gray: #333333;
$heading-gray: #3d3d3d;
$background-gray: #e5e5e5;
$card-gray: #f3f5f6;
$diluted-black: #c4c4c4;
$table-grey: #bdbdbd;
$carrot: #f9513d;
$grey-connect: #dae1e4;

$beige-small-card: #efeee8;
$gray-border: #ccd0db;
$light-beige: #f6f6f4;
$light-border: #1f2c5c;
$bullets: #d0d3da;
$hover-grey: #595959;
$diluted-blue: #4787f3;
$blue: #134aa6;

$grey-line: #979797;
$error: #f93232;
$blue2: #213442;
$dark-line: #1F2C5C;
$card-line: #546286;
$calendarTop: #bdbcdb;
$siren: #7e7ccf;
$menu-grey: #bcc0ce;
$hover-grey: #D0D3DA;
$backChat: #FDFDFD;
